# Nix build results
result
result-*

# Direnv and Devenv environments
/.direnv/
/.devenv/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
.DS_Store

# SECRETS - DO NOT COMMIT
sops.key
ssh
*host_key
*client_secret

# Backup/temporary files
*.old
*.backup
